# Ex1 - Know your Data

### Step 1. Import the necessary libraries

In [16]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [17]:
x = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
df  = pd.read_csv(x, sep = '\t')

### Step 3. Assign it to a variable called chipo.

In [48]:
chipo = df

### Step 4. See the first 10 entries

In [49]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

### Step 5. What is the number of observations in the dataset?

In [50]:
# Solution 1

("The number of observation are ",chipo.shape[0])

('The number of observation are ', 4622)

In [51]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [52]:
("The number of columns is  :", chipo.shape[1])

('The number of columns is  :', 5)

### Step 7. Print the name of all the columns.

In [53]:
("The Name of columns are",chipo.columns)

('The Name of columns are',
 Index(['order_id', 'quantity', 'item_name', 'choice_description',
        'item_price'],
       dtype='object'))

### Step 8. How is the dataset indexed?

In [36]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [55]:
chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False).head(1)

# print("The most popular item is ",

              order_id  quantity  item_price
item_name
Chicken Bowl    713926       761     7342.73

### Step 10. For the most-ordered item, how many items were ordered?

In [25]:
chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 11. What was the most ordered item in the choice_description column?

In [26]:
chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [27]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [56]:
chipo.item_price.dtypes

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [45]:
# chipo["item_price"].apply(lambda x: [float(x) if x is type(o)])
doll = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(doll)

TypeError: 'float' object is not subscriptable

In [ ]:
df.str.

#### Step 13.c. Check the item price type

In [46]:
chipo.item_price.dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

In [34]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 16. What is the average revenue amount per order?

In [57]:
# Solution 1
# chipo.groupby("order_id").sum().item_price.mean()

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.39423118865867

In [58]:
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.39423118865867

### Step 17. How many different items are sold?

In [40]:
chipo.item_name.value_counts().count()

50