In [1]:
import pandas as pd


# Read in the data
df = pd.read_csv('Cancellation Reasons List.csv')

In [2]:
df.head()

   order_id  cancellation_reason_id cancel_reason_text
0    188424                      60                NaN
1    188420                      59                NaN
2    188401                      51                NaN
3    188401                      53                NaN
4    188396                      53                NaN

In [3]:
df.shape

(6064, 3)

In [4]:
df['cancellation_reason_id'].value_counts().head(12)

57    1716
63    1436
55    1042
53     605
59     270
52     265
49     209
58     139
60     100
30      91
61      75
28      26
Name: cancellation_reason_id, dtype: int64


## Reasons for order cancellation 
- Here cancellation_reason_id 57 is the most common reason for cancellation. This is followed by 58 and 59. The reason for cancellation is not known for 60% of the cancelled bookings.
- Cancellation reason for cancellation_reason_id 57 is  `SKU's NA` 
- Cancellation reason for  cancellation_reason_id 63 is `Customer Has Already Purchased It From Somewhere Else`
- Cancellation reason for  cancellation_reason_id 55 is `Dukaan daar ka rawaiya theek nahi tha`

##  suggestion
- We should increase the most demanding SKU 
- We should increase the delivery time
- We should train shopkeepers to behave nicely with customers.

In [5]:
df['cancel_reason_text'].value_counts().head(15)

 Shop Close                     313
 no service area                207
 No Service Area                192
 Cash Issue                     185
 Network issue                  137
 order cancel payment issue     123
 No Go Area                     105
 shop closed                     99
 Order Cancel Road Block         97
 Road Block                      89
 order cancel road block         82
 Shop close                      81
 cash issue                      77
 incomplete order                74
 order cancel shop close         73
Name: cancel_reason_text, dtype: int64

In [6]:
df1 = pd.read_csv("Cancellation Reasons.csv")

In [7]:
df1.head()

   cancellation_reason_id     cancellation_reason_name  Complaint ID
0                      46                  Shop Closed             2
1                      47  Customer does not have cash             2
2                      48                        Other             2
3                      49              Driver got late             3
4                      50           Vehicle broke down             3

In [8]:
df.head()

   order_id  cancellation_reason_id cancel_reason_text
0    188424                      60                NaN
1    188420                      59                NaN
2    188401                      51                NaN
3    188401                      53                NaN
4    188396                      53                NaN

In [9]:
mergeddf = pd.merge(df, df1, on ='cancellation_reason_id')

In [14]:
mergeddf.to_csv("mergeddf.csv", index=False)

In [15]:
mergeddf.head()

,order_id,cancellation_reason_id,cancel_reason_text,cancellation_reason_name,Complaint ID
0,188424,60,NaN,Customer Has Already Purchased It From Somewhe...,5
1,188129,60,NaN,Customer Has Already Purchased It From Somewhe...,5
2,187993,60,NaN,Customer Has Already Purchased It From Somewhe...,5
3,187863,60,NaN,Customer Has Already Purchased It From Somewhe...,5
4,187793,60,NaN,Customer Has Already Purchased It From Somewhe...,5

In [16]:
df.shape, df1.shape, mergeddf.shape

((6064, 3), (25, 3), (6064, 5))

In [17]:
mergeddf[mergeddf['cancellation_reason_id'] == 57]

,order_id,cancellation_reason_id,cancel_reason_text,cancellation_reason_name,Complaint ID
4184,188141,57,Repeat order,Other,4
4185,188139,57,Repeat order,Other,4
4186,187866,57,order cancel cantt pass isssue,Other,4
4187,187250,57,order cancel due to Androon side,Other,4
4188,187249,57,order cancel due to Androon side,Other,4
...,...,...,...,...,...
5895,151458,57,No go Area,Other,4
5896,151378,57,No go area,Other,4
5897,151312,57,No go Area,Other,4
5898,151310,57,incomplete order,Other,4
5899,151249,57,No go area,Other,4

In [18]:
mergeddf['cancel_reason_text'].value_counts().head(15)

 Shop Close                     313
 no service area                207
 No Service Area                192
 Cash Issue                     185
 Network issue                  137
 order cancel payment issue     123
 No Go Area                     105
 shop closed                     99
 Order Cancel Road Block         97
 Road Block                      89
 order cancel road block         82
 Shop close                      81
 cash issue                      77
 incomplete order                74
 order cancel shop close         73
Name: cancel_reason_text, dtype: int64


# Reasons for order cancellation
- The other reasons are Shope close, No service area.
- Here data is not clean as there are many spellings for  the same text.